{"openapi":"3.1.0","info":{"title":"Pav Enterprise API","description":"Read-only API over Pav's biopharma data: programs, drugs, companies, trials, deals, patents and FDA records. Send `Authorization: Bearer <api_key>`. Every resource is one list endpoint and one get endpoint. Lists take plain filters (a ticker, a phase, a modality) and return `{data, next_cursor, total}`; pass `next_cursor` back as `cursor` for the next page. Errors return `{error: {code, message, request_id}}`.","version":"3.0.0"},"servers":[{"url":"https://api.pav.bio","description":"Production"}],"paths":{"/v1/programs":{"get":{"tags":["programs"],"summary":"List programs","description":"Drug programs: one drug in one indication at one company. `from`/`to` filter on `last_updated`. Only `active` programs unless `status` says otherwise. `company_type` and `country` are company attributes, not program attributes: `company_type` is maintained directly (reliable); only ~22% of tracked companies with an active program have a `country` on file, so a `country` filter under-counts.","operationId":"list_programs","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Company ids, comma-separated. Includes the companies each one owns.","examples":["412"],"title":"Company Id"},"description":"Company ids, comma-separated. Includes the companies each one owns."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates.","examples":["PFE"],"title":"Company"},"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates."},{"name":"company_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"`public` or `private`.","examples":["private"],"title":"Company Type"},"description":"`public` or `private`."},{"name":"country","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Headquarters country, exact name (`United States`), case-insensitive.","examples":["United States"],"title":"Country"},"description":"Headquarters country, exact name (`United States`), case-insensitive."},{"name":"drug_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Drug ids, comma-separated.","examples":["5120"],"title":"Drug Id"},"description":"Drug ids, comma-separated."},{"name":"drug","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Drug name, INN, code or brand, exact; comma-separated.","examples":["sotorasib"],"title":"Drug"},"description":"Drug name, INN, code or brand, exact; comma-separated."},{"name":"program_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Program ids, comma-separated.","examples":["18342"],"title":"Program Id"},"description":"Program ids, comma-separated."},{"name":"phase","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Normalized phase, comma-separated: `preclinical`, `phase_1`, `phase_1_2`, `phase_2`, `phase_2_3`, `phase_3`, `filed`, `registration`, `approved` (also accepts `1`, `2`, `3`, or `Phase 2`). Unknown values 400 with this list.","examples":["preclinical","phase_2,phase_3"],"title":"Phase"},"description":"Normalized phase, comma-separated: `preclinical`, `phase_1`, `phase_1_2`, `phase_2`, `phase_2_3`, `phase_3`, `filed`, `registration`, `approved` (also accepts `1`, `2`, `3`, or `Phase 2`). Unknown values 400 with this list."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"`active` (default), `inactive`, `discontinued`; comma-separated.","examples":["active,discontinued"],"title":"Status"},"description":"`active` (default), `inactive`, `discontinued`; comma-separated."},{"name":"indication","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Disease name, synonym or MONDO id; includes narrower diseases. Comma-separated; for a name containing a comma, use its id.","examples":["NSCLC"],"title":"Indication"},"description":"Disease name, synonym or MONDO id; includes narrower diseases. Comma-separated; for a name containing a comma, use its id."},{"name":"target","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Target name, gene symbol or term id (`TL1A`, `TNFSF15`); comma-separated.","examples":["TL1A"],"title":"Target"},"description":"Target name, gene symbol or term id (`TL1A`, `TNFSF15`); comma-separated."},{"name":"modality","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Normalized modality, subclass (`sirna`) or format (`bispecific`); comma-separated. Unknown values 400 with the allowed list.","examples":["antibody,bispecific"],"title":"Modality"},"description":"Normalized modality, subclass (`sirna`) or format (`bispecific`); comma-separated. Unknown values 400 with the allowed list."},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or after this date.","title":"From"},"description":"On or after this date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or before this date.","title":"To"},"description":"On or before this date."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"One of `company`, `drug`, `indication`, `target`, `modality`, `phase`, `last_updated`; prefix `-` to descend. Default `company`.","title":"Sort"},"description":"One of `company`, `drug`, `indication`, `target`, `modality`, `phase`, `last_updated`; prefix `-` to descend. Default `company`."},{"name":"view","in":"query","required":false,"schema":{"$ref":"#/components/schemas/View","description":"`full` (default) or `slim` for light rows.","examples":["slim"],"default":"full"},"description":"`full` (default) or `slim` for light rows."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"Rows per page (1-200).","examples":[50],"default":50,"title":"Limit"},"description":"Rows per page (1-200)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":2000},{"type":"null"}],"description":"`next_cursor` from the previous page.","title":"Cursor"},"description":"`next_cursor` from the previous page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProgramListResponse"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"programs","x-fern-sdk-method-name":"list","x-fern-pagination":true,"x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\npage = client.programs.list(limit=5)\nfor row in page.items:\n    print(row)"},{"lang":"bash","label":"CLI","source":"pav programs list --limit 5"}]}},"/v1/programs/{program_id}":{"get":{"tags":["programs"],"summary":"Get a program","description":"One program with its trials and ontology terms. A merged id returns the surviving program.","operationId":"get_program","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"program_id","in":"path","required":true,"schema":{"type":"integer","description":"Program id.","examples":[18342],"title":"Program Id"},"description":"Program id."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Program"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"programs","x-fern-sdk-method-name":"get","x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\nprint(client.programs.get(18342))"},{"lang":"bash","label":"CLI","source":"pav programs get --program-id 18342"}]}},"/v1/drugs":{"get":{"tags":["drugs"],"summary":"List drugs","description":"One drug across every company that develops it. `drug` is a complete name, code or brand (`TEV-574`, `Leqvio`), exact; case and punctuation are ignored.","operationId":"list_drugs","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"drug","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Drug name, INN, code or brand, exact.","examples":["duvakitug"],"title":"Drug"},"description":"Drug name, INN, code or brand, exact."},{"name":"drug_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Drug ids, comma-separated.","examples":["5120"],"title":"Drug Id"},"description":"Drug ids, comma-separated."},{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Company ids, comma-separated. Includes the companies each one owns.","examples":["412"],"title":"Company Id"},"description":"Company ids, comma-separated. Includes the companies each one owns."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates.","examples":["PFE"],"title":"Company"},"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates."},{"name":"multi_company","in":"query","required":false,"schema":{"type":"boolean","description":"Only drugs held by more than one company.","examples":[true],"default":false,"title":"Multi Company"},"description":"Only drugs held by more than one company."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"`active` (default), `inactive`, `discontinued`; comma-separated.","examples":["active,discontinued"],"title":"Status"},"description":"`active` (default), `inactive`, `discontinued`; comma-separated."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"One of `highest_phase`, `name`, `program_count`; prefix `-` to descend. Default `-highest_phase`.","title":"Sort"},"description":"One of `highest_phase`, `name`, `program_count`; prefix `-` to descend. Default `-highest_phase`."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"Rows per page (1-200).","examples":[50],"default":50,"title":"Limit"},"description":"Rows per page (1-200)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":2000},{"type":"null"}],"description":"`next_cursor` from the previous page.","title":"Cursor"},"description":"`next_cursor` from the previous page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DrugListResponse"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"drugs","x-fern-sdk-method-name":"list","x-fern-pagination":true,"x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\npage = client.drugs.list(limit=5)\nfor row in page.items:\n    print(row)"},{"lang":"bash","label":"CLI","source":"pav drugs list --limit 5"}]}},"/v1/drugs/{drug_id}":{"get":{"tags":["drugs"],"summary":"Get a drug","description":"One drug with its names, holders and programs. `status` picks which programs count (default `active`). A merged id returns the surviving drug.","operationId":"get_drug","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"drug_id","in":"path","required":true,"schema":{"type":"integer","description":"Drug id.","examples":[5120],"title":"Drug Id"},"description":"Drug id."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"`active` (default), `inactive`, `discontinued`; comma-separated.","examples":["active,discontinued"],"title":"Status"},"description":"`active` (default), `inactive`, `discontinued`; comma-separated."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DrugDetail"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"drugs","x-fern-sdk-method-name":"get","x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\nprint(client.drugs.get(5120))"},{"lang":"bash","label":"CLI","source":"pav drugs get --drug-id 5120"}]}},"/v1/companies":{"get":{"tags":["companies"],"summary":"List companies","description":"Biopharma companies Pav tracks. `company` and `ticker` are exact, not full-text: a `company` value matching more than one tracked company is a 400 naming the candidates. `country` is a company attribute; only ~22% of tracked companies with an active program have one on file.","operationId":"list_companies","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Company ids, comma-separated.","examples":["412"],"title":"Company Id"},"description":"Company ids, comma-separated."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates.","examples":["PFE"],"title":"Company"},"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates."},{"name":"ticker","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Current stock ticker, comma-separated.","examples":["PFE"],"title":"Ticker"},"description":"Current stock ticker, comma-separated."},{"name":"company_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"`public` or `private`.","examples":["private"],"title":"Company Type"},"description":"`public` or `private`."},{"name":"country","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Headquarters country, exact name (`United States`), case-insensitive.","examples":["United States"],"title":"Country"},"description":"Headquarters country, exact name (`United States`), case-insensitive."},{"name":"has_pipeline","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Only companies with (or without) a tracked pipeline.","title":"Has Pipeline"},"description":"Only companies with (or without) a tracked pipeline."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"One of `asset_count`, `name`; prefix `-` to descend. Default `-asset_count`.","title":"Sort"},"description":"One of `asset_count`, `name`; prefix `-` to descend. Default `-asset_count`."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"Rows per page (1-200).","examples":[50],"default":50,"title":"Limit"},"description":"Rows per page (1-200)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":2000},{"type":"null"}],"description":"`next_cursor` from the previous page.","title":"Cursor"},"description":"`next_cursor` from the previous page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyListResponse"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"companies","x-fern-sdk-method-name":"list","x-fern-pagination":true,"x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\npage = client.companies.list(limit=5)\nfor row in page.items:\n    print(row)"},{"lang":"bash","label":"CLI","source":"pav companies list --limit 5"}]}},"/v1/companies/{company_id}":{"get":{"tags":["companies"],"summary":"Get a company","description":"One company with its tickers, owner and website.","operationId":"get_company","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"company_id","in":"path","required":true,"schema":{"type":"integer","description":"Company id.","examples":[412],"title":"Company Id"},"description":"Company id."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Company"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"companies","x-fern-sdk-method-name":"get","x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\nprint(client.companies.get(412))"},{"lang":"bash","label":"CLI","source":"pav companies get --company-id 412"}]}},"/v1/trials":{"get":{"tags":["trials"],"summary":"List trials","description":"ClinicalTrials.gov trials with their links to Pav programs and companies. `company`/`company_id` match sponsors, collaborators and linked programs. `from`/`to` filter on `start_date`.","operationId":"list_trials","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Company ids, comma-separated. Includes the companies each one owns.","examples":["412"],"title":"Company Id"},"description":"Company ids, comma-separated. Includes the companies each one owns."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates.","examples":["PFE"],"title":"Company"},"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates."},{"name":"nct_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"NCT ids, comma-separated.","examples":["NCT04368728"],"title":"Nct Id"},"description":"NCT ids, comma-separated."},{"name":"phase","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Phases, comma-separated (`1`-`4`).","examples":["2,3"],"title":"Phase"},"description":"Phases, comma-separated (`1`-`4`)."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Recruitment statuses, comma-separated.","examples":["recruiting"],"title":"Status"},"description":"Recruitment statuses, comma-separated."},{"name":"study_type","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Study types, comma-separated.","examples":["interventional"],"title":"Study Type"},"description":"Study types, comma-separated."},{"name":"indication","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Condition name, synonym, MeSH or MONDO id; includes narrower conditions. Comma-separated; for a name containing a comma, use its id.","examples":["ulcerative colitis"],"title":"Indication"},"description":"Condition name, synonym, MeSH or MONDO id; includes narrower conditions. Comma-separated; for a name containing a comma, use its id."},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or after this date.","title":"From"},"description":"On or after this date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or before this date.","title":"To"},"description":"On or before this date."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"One of `start_date`, `last_update_post_date`, `enrollment_count`, `nct_id`; prefix `-` to descend. Default `nct_id`.","title":"Sort"},"description":"One of `start_date`, `last_update_post_date`, `enrollment_count`, `nct_id`; prefix `-` to descend. Default `nct_id`."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"Rows per page (1-200).","examples":[50],"default":50,"title":"Limit"},"description":"Rows per page (1-200)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":2000},{"type":"null"}],"description":"`next_cursor` from the previous page.","title":"Cursor"},"description":"`next_cursor` from the previous page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrialListResponse"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"trials","x-fern-sdk-method-name":"list","x-fern-pagination":true,"x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\npage = client.trials.list(limit=5)\nfor row in page.items:\n    print(row)"},{"lang":"bash","label":"CLI","source":"pav trials list --limit 5"}]}},"/v1/trials/{nct_id}":{"get":{"tags":["trials"],"summary":"Get a trial","description":"One ClinicalTrials.gov trial with its linked programs and companies.","operationId":"get_trial","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"nct_id","in":"path","required":true,"schema":{"type":"string","description":"ClinicalTrials.gov NCT identifier.","examples":["NCT04368728"],"title":"Nct Id"},"description":"ClinicalTrials.gov NCT identifier."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Trial"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"trials","x-fern-sdk-method-name":"get","x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\nprint(client.trials.get(\"NCT04368728\"))"},{"lang":"bash","label":"CLI","source":"pav trials get --nct-id NCT04368728"}]}},"/v1/deals":{"get":{"tags":["deals"],"summary":"List deals","description":"M&A, licensing, collaborations, options, joint ventures and distribution deals, one row per deal. `from`/`to` filter on `announced_at`.","operationId":"list_deals","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Company ids, comma-separated. Includes the companies each one owns.","examples":["412"],"title":"Company Id"},"description":"Company ids, comma-separated. Includes the companies each one owns."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates.","examples":["PFE"],"title":"Company"},"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates."},{"name":"drug_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Drug ids, comma-separated.","examples":["5120"],"title":"Drug Id"},"description":"Drug ids, comma-separated."},{"name":"deal_type","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Deal types, comma-separated: `acquisition`, `merger`, `asset_purchase`, `licensing`, `collaboration`, `option`, `joint_venture`, `distribution`, `other`.","examples":["licensing"],"title":"Deal Type"},"description":"Deal types, comma-separated: `acquisition`, `merger`, `asset_purchase`, `licensing`, `collaboration`, `option`, `joint_venture`, `distribution`, `other`."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Current lifecycle state (`latest_event_type`), comma-separated: `proposed`, `announced`, `completed`, `amended`, `terminated`, `update`.","examples":["completed"],"title":"Status"},"description":"Current lifecycle state (`latest_event_type`), comma-separated: `proposed`, `announced`, `completed`, `amended`, `terminated`, `update`."},{"name":"target","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Target name, gene symbol or term id; comma-separated.","examples":["TL1A"],"title":"Target"},"description":"Target name, gene symbol or term id; comma-separated."},{"name":"modality","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Modality, subclass or format; comma-separated.","examples":["adc"],"title":"Modality"},"description":"Modality, subclass or format; comma-separated."},{"name":"therapeutic_area","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Areas, comma-separated: `cardiovascular`, `dermatology`, `endocrine_metabolic`, `gastroenterology`, `hematology`, `hepatology`, `immunology`, `infectious_disease`, `musculoskeletal`, `nephrology`, `neurology`, `oncology`, `ophthalmology`, `otolaryngology`, `pain`, `psychiatry`, `reproductive_womens_health`, `respiratory`, `urology_mens_health`.","examples":["oncology"],"title":"Therapeutic Area"},"description":"Areas, comma-separated: `cardiovascular`, `dermatology`, `endocrine_metabolic`, `gastroenterology`, `hematology`, `hepatology`, `immunology`, `infectious_disease`, `musculoskeletal`, `nephrology`, `neurology`, `oncology`, `ophthalmology`, `otolaryngology`, `pain`, `psychiatry`, `reproductive_womens_health`, `respiratory`, `urology_mens_health`."},{"name":"min_value_usd","in":"query","required":false,"schema":{"anyOf":[{"type":"number","minimum":0},{"type":"null"}],"description":"Minimum `total_potential_value` in USD.","examples":[1000000000],"title":"Min Value Usd"},"description":"Minimum `total_potential_value` in USD."},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or after this date.","title":"From"},"description":"On or after this date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or before this date.","title":"To"},"description":"On or before this date."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"One of `activity_date`, `announced_at`, `completed_at`, `total_value`, `total_potential_value`; prefix `-` to descend. Default `-activity_date`.","title":"Sort"},"description":"One of `activity_date`, `announced_at`, `completed_at`, `total_value`, `total_potential_value`; prefix `-` to descend. Default `-activity_date`."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"Rows per page (1-200).","examples":[50],"default":50,"title":"Limit"},"description":"Rows per page (1-200)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":2000},{"type":"null"}],"description":"`next_cursor` from the previous page.","title":"Cursor"},"description":"`next_cursor` from the previous page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealListResponse"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"deals","x-fern-sdk-method-name":"list","x-fern-pagination":true,"x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\npage = client.deals.list(limit=5)\nfor row in page.items:\n    print(row)"},{"lang":"bash","label":"CLI","source":"pav deals list --limit 5"}]}},"/v1/deals/{deal_id}":{"get":{"tags":["deals"],"summary":"Get a deal","description":"One deal with its full terms, lifecycle events and source documents.","operationId":"get_deal","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"deal_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Deal id.","examples":["ec0bcf74-fdc0-4ffa-ad04-fe25ed8d6210"],"title":"Deal Id"},"description":"Deal id."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealDetail"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"deals","x-fern-sdk-method-name":"get","x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\nprint(client.deals.get(\"ec0bcf74-fdc0-4ffa-ad04-fe25ed8d6210\"))"},{"lang":"bash","label":"CLI","source":"pav deals get --deal-id ec0bcf74-fdc0-4ffa-ad04-fe25ed8d6210"}]}},"/v1/patents":{"get":{"tags":["patents"],"summary":"List patent families","description":"US patent families. `from`/`to` filter on `earliest_priority_date`. `view=full` adds up to 30 members.","operationId":"list_patents","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Company ids, comma-separated. Includes the companies each one owns.","examples":["412"],"title":"Company Id"},"description":"Company ids, comma-separated. Includes the companies each one owns."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates.","examples":["PFE"],"title":"Company"},"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates."},{"name":"patent_number","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"A member's patent, publication or application number.","examples":["9474780"],"title":"Patent Number"},"description":"A member's patent, publication or application number."},{"name":"cpc","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":16},{"type":"null"}],"description":"CPC prefix on any member (`A61K38/26`).","examples":["A61K"],"title":"Cpc"},"description":"CPC prefix on any member (`A61K38/26`)."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"enum":["live","lapsed"],"type":"string"},{"type":"null"}],"description":"`live` (a member pending or in force) or `lapsed`.","title":"Status"},"description":"`live` (a member pending or in force) or `lapsed`."},{"name":"granted","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Whether at least one member is granted.","title":"Granted"},"description":"Whether at least one member is granted."},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or after this date.","title":"From"},"description":"On or after this date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or before this date.","title":"To"},"description":"On or before this date."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"One of `latest_status_date`, `earliest_priority_date`, `member_count`; prefix `-` to descend. Default `-latest_status_date`.","title":"Sort"},"description":"One of `latest_status_date`, `earliest_priority_date`, `member_count`; prefix `-` to descend. Default `-latest_status_date`."},{"name":"view","in":"query","required":false,"schema":{"$ref":"#/components/schemas/View","description":"`full` (default) or `slim` for light rows.","examples":["slim"],"default":"full"},"description":"`full` (default) or `slim` for light rows."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"Rows per page (1-200).","examples":[50],"default":50,"title":"Limit"},"description":"Rows per page (1-200)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":2000},{"type":"null"}],"description":"`next_cursor` from the previous page.","title":"Cursor"},"description":"`next_cursor` from the previous page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatentFamilyListResponse"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"patents","x-fern-sdk-method-name":"list","x-fern-pagination":true,"x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\npage = client.patents.list(limit=5)\nfor row in page.items:\n    print(row)"},{"lang":"bash","label":"CLI","source":"pav patents list --limit 5"}]}},"/v1/patents/{family_id}":{"get":{"tags":["patents"],"summary":"Get a patent family","description":"One family with members, ownership changes, prosecution events, FDA-listed drugs and statutory term (from the earliest nonprovisional filing, no extensions). `family_id` may also be a member's patent, publication or application number.","operationId":"get_patent_family","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"family_id","in":"path","required":true,"schema":{"type":"string","maxLength":64,"pattern":"^[A-Za-z0-9_-]+$","description":"Pav patent family id, or a member patent/publication/application number.","examples":["62662313"],"title":"Family Id"},"description":"Pav patent family id, or a member patent/publication/application number."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatentFamilyDetail"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"patents","x-fern-sdk-method-name":"get","x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\nprint(client.patents.get(\"62662313\"))"},{"lang":"bash","label":"CLI","source":"pav patents get --family-id 62662313"}]}},"/v1/orange-book-products":{"get":{"tags":["orange-book-products"],"summary":"List Orange Book products","description":"Approved drug products in FDA's Orange Book (current edition). `from`/`to` filter on the approval date.","operationId":"list_orange_book_products","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"product_key","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":40},{"type":"null"}],"description":"Application + product, e.g. `N:209637:001`.","title":"Product Key"},"description":"Application + product, e.g. `N:209637:001`."},{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Company ids, comma-separated. Includes the companies each one owns.","examples":["412"],"title":"Company Id"},"description":"Company ids, comma-separated. Includes the companies each one owns."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates.","examples":["PFE"],"title":"Company"},"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates."},{"name":"application_key","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":32},{"type":"null"}],"description":"FDA application, e.g. `N:209637` or `BLA:761508`.","title":"Application Key"},"description":"FDA application, e.g. `N:209637` or `BLA:761508`."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Statuses, comma-separated (case-insensitive).","title":"Status"},"description":"Statuses, comma-separated (case-insensitive)."},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or after this date.","title":"From"},"description":"On or after this date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or before this date.","title":"To"},"description":"On or before this date."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"`document_date` or `event_date`; prefix `-` to descend.","title":"Sort"},"description":"`document_date` or `event_date`; prefix `-` to descend."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"Rows per page (1-200).","examples":[50],"default":50,"title":"Limit"},"description":"Rows per page (1-200)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":2000},{"type":"null"}],"description":"`next_cursor` from the previous page.","title":"Cursor"},"description":"`next_cursor` from the previous page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FdaListResponse"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"orange_book_products","x-fern-sdk-method-name":"list","x-fern-pagination":true,"x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\npage = client.orange_book_products.list(limit=5)\nfor row in page.items:\n    print(row)"},{"lang":"bash","label":"CLI","source":"pav orange-book-products list --limit 5"}]}},"/v1/orange-book-patents":{"get":{"tags":["orange-book-patents"],"summary":"List Orange Book patents","description":"Patents listed against Orange Book products. `from`/`to` filter on the expiry (`event_date`).","operationId":"list_orange_book_patents","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"product_key","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":40},{"type":"null"}],"description":"Application + product, e.g. `N:209637:001`.","title":"Product Key"},"description":"Application + product, e.g. `N:209637:001`."},{"name":"patent_number","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":20},{"type":"null"}],"description":"Listed patent number.","title":"Patent Number"},"description":"Listed patent number."},{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Company ids, comma-separated. Includes the companies each one owns.","examples":["412"],"title":"Company Id"},"description":"Company ids, comma-separated. Includes the companies each one owns."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates.","examples":["PFE"],"title":"Company"},"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates."},{"name":"application_key","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":32},{"type":"null"}],"description":"FDA application, e.g. `N:209637` or `BLA:761508`.","title":"Application Key"},"description":"FDA application, e.g. `N:209637` or `BLA:761508`."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Statuses, comma-separated (case-insensitive).","title":"Status"},"description":"Statuses, comma-separated (case-insensitive)."},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or after this date.","title":"From"},"description":"On or after this date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or before this date.","title":"To"},"description":"On or before this date."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"`document_date` or `event_date`; prefix `-` to descend.","title":"Sort"},"description":"`document_date` or `event_date`; prefix `-` to descend."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"Rows per page (1-200).","examples":[50],"default":50,"title":"Limit"},"description":"Rows per page (1-200)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":2000},{"type":"null"}],"description":"`next_cursor` from the previous page.","title":"Cursor"},"description":"`next_cursor` from the previous page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FdaListResponse"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"orange_book_patents","x-fern-sdk-method-name":"list","x-fern-pagination":true,"x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\npage = client.orange_book_patents.list(limit=5)\nfor row in page.items:\n    print(row)"},{"lang":"bash","label":"CLI","source":"pav orange-book-patents list --limit 5"}]}},"/v1/orange-book-exclusivities":{"get":{"tags":["orange-book-exclusivities"],"summary":"List Orange Book exclusivities","description":"Marketing exclusivities on Orange Book products. `from`/`to` filter on the expiry (`event_date`).","operationId":"list_orange_book_exclusivities","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"product_key","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":40},{"type":"null"}],"description":"Application + product, e.g. `N:209637:001`.","title":"Product Key"},"description":"Application + product, e.g. `N:209637:001`."},{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Company ids, comma-separated. Includes the companies each one owns.","examples":["412"],"title":"Company Id"},"description":"Company ids, comma-separated. Includes the companies each one owns."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates.","examples":["PFE"],"title":"Company"},"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates."},{"name":"application_key","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":32},{"type":"null"}],"description":"FDA application, e.g. `N:209637` or `BLA:761508`.","title":"Application Key"},"description":"FDA application, e.g. `N:209637` or `BLA:761508`."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Statuses, comma-separated (case-insensitive).","title":"Status"},"description":"Statuses, comma-separated (case-insensitive)."},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or after this date.","title":"From"},"description":"On or after this date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or before this date.","title":"To"},"description":"On or before this date."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"`document_date` or `event_date`; prefix `-` to descend.","title":"Sort"},"description":"`document_date` or `event_date`; prefix `-` to descend."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"Rows per page (1-200).","examples":[50],"default":50,"title":"Limit"},"description":"Rows per page (1-200)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":2000},{"type":"null"}],"description":"`next_cursor` from the previous page.","title":"Cursor"},"description":"`next_cursor` from the previous page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FdaListResponse"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"orange_book_exclusivities","x-fern-sdk-method-name":"list","x-fern-pagination":true,"x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\npage = client.orange_book_exclusivities.list(limit=5)\nfor row in page.items:\n    print(row)"},{"lang":"bash","label":"CLI","source":"pav orange-book-exclusivities list --limit 5"}]}},"/v1/purple-book-products":{"get":{"tags":["purple-book-products"],"summary":"List Purple Book products","description":"Licensed biologics in FDA's Purple Book. `from`/`to` filter on the license date.","operationId":"list_purple_book_products","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"product_key","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":40},{"type":"null"}],"description":"Application + product, e.g. `N:209637:001`.","title":"Product Key"},"description":"Application + product, e.g. `N:209637:001`."},{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Company ids, comma-separated. Includes the companies each one owns.","examples":["412"],"title":"Company Id"},"description":"Company ids, comma-separated. Includes the companies each one owns."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates.","examples":["PFE"],"title":"Company"},"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates."},{"name":"application_key","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":32},{"type":"null"}],"description":"FDA application, e.g. `N:209637` or `BLA:761508`.","title":"Application Key"},"description":"FDA application, e.g. `N:209637` or `BLA:761508`."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Statuses, comma-separated (case-insensitive).","title":"Status"},"description":"Statuses, comma-separated (case-insensitive)."},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or after this date.","title":"From"},"description":"On or after this date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or before this date.","title":"To"},"description":"On or before this date."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"`document_date` or `event_date`; prefix `-` to descend.","title":"Sort"},"description":"`document_date` or `event_date`; prefix `-` to descend."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"Rows per page (1-200).","examples":[50],"default":50,"title":"Limit"},"description":"Rows per page (1-200)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":2000},{"type":"null"}],"description":"`next_cursor` from the previous page.","title":"Cursor"},"description":"`next_cursor` from the previous page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FdaListResponse"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"purple_book_products","x-fern-sdk-method-name":"list","x-fern-pagination":true,"x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\npage = client.purple_book_products.list(limit=5)\nfor row in page.items:\n    print(row)"},{"lang":"bash","label":"CLI","source":"pav purple-book-products list --limit 5"}]}},"/v1/orphan-designations":{"get":{"tags":["orphan-designations"],"summary":"List orphan designations","description":"Orphan drug designations, one per designation; approvals under it are in `details.approvals`. `from`/`to` filter on the designation date.","operationId":"list_orphan_designations","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"designation_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":20},{"type":"null"}],"description":"Orphan designation id.","title":"Designation Id"},"description":"Orphan designation id."},{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Company ids, comma-separated. Includes the companies each one owns.","examples":["412"],"title":"Company Id"},"description":"Company ids, comma-separated. Includes the companies each one owns."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates.","examples":["PFE"],"title":"Company"},"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates."},{"name":"application_key","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":32},{"type":"null"}],"description":"FDA application, e.g. `N:209637` or `BLA:761508`.","title":"Application Key"},"description":"FDA application, e.g. `N:209637` or `BLA:761508`."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Statuses, comma-separated (case-insensitive).","title":"Status"},"description":"Statuses, comma-separated (case-insensitive)."},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or after this date.","title":"From"},"description":"On or after this date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or before this date.","title":"To"},"description":"On or before this date."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"`document_date` or `event_date`; prefix `-` to descend.","title":"Sort"},"description":"`document_date` or `event_date`; prefix `-` to descend."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"Rows per page (1-200).","examples":[50],"default":50,"title":"Limit"},"description":"Rows per page (1-200)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":2000},{"type":"null"}],"description":"`next_cursor` from the previous page.","title":"Cursor"},"description":"`next_cursor` from the previous page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FdaListResponse"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"orphan_designations","x-fern-sdk-method-name":"list","x-fern-pagination":true,"x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\npage = client.orphan_designations.list(limit=5)\nfor row in page.items:\n    print(row)"},{"lang":"bash","label":"CLI","source":"pav orphan-designations list --limit 5"}]}},"/v1/warning-letters":{"get":{"tags":["warning-letters"],"summary":"List warning letters","description":"Warning letters from FDA's drug, biologic and device offices. `from`/`to` filter on the letter date.","operationId":"list_warning_letters","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Company ids, comma-separated. Includes the companies each one owns.","examples":["412"],"title":"Company Id"},"description":"Company ids, comma-separated. Includes the companies each one owns."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates.","examples":["PFE"],"title":"Company"},"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates."},{"name":"application_key","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":32},{"type":"null"}],"description":"FDA application, e.g. `N:209637` or `BLA:761508`.","title":"Application Key"},"description":"FDA application, e.g. `N:209637` or `BLA:761508`."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Statuses, comma-separated (case-insensitive).","title":"Status"},"description":"Statuses, comma-separated (case-insensitive)."},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or after this date.","title":"From"},"description":"On or after this date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or before this date.","title":"To"},"description":"On or before this date."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"`document_date` or `event_date`; prefix `-` to descend.","title":"Sort"},"description":"`document_date` or `event_date`; prefix `-` to descend."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"Rows per page (1-200).","examples":[50],"default":50,"title":"Limit"},"description":"Rows per page (1-200)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":2000},{"type":"null"}],"description":"`next_cursor` from the previous page.","title":"Cursor"},"description":"`next_cursor` from the previous page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FdaListResponse"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"warning_letters","x-fern-sdk-method-name":"list","x-fern-pagination":true,"x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\npage = client.warning_letters.list(limit=5)\nfor row in page.items:\n    print(row)"},{"lang":"bash","label":"CLI","source":"pav warning-letters list --limit 5"}]}},"/v1/recalls":{"get":{"tags":["recalls"],"summary":"List recalls","description":"Drug, biologic and device recalls: `title` is the product, `description` the reason. `from`/`to` filter on the recall date.","operationId":"list_recalls","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Company ids, comma-separated. Includes the companies each one owns.","examples":["412"],"title":"Company Id"},"description":"Company ids, comma-separated. Includes the companies each one owns."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates.","examples":["PFE"],"title":"Company"},"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates."},{"name":"application_key","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":32},{"type":"null"}],"description":"FDA application, e.g. `N:209637` or `BLA:761508`.","title":"Application Key"},"description":"FDA application, e.g. `N:209637` or `BLA:761508`."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Statuses, comma-separated (case-insensitive).","title":"Status"},"description":"Statuses, comma-separated (case-insensitive)."},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or after this date.","title":"From"},"description":"On or after this date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or before this date.","title":"To"},"description":"On or before this date."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"`document_date` or `event_date`; prefix `-` to descend.","title":"Sort"},"description":"`document_date` or `event_date`; prefix `-` to descend."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"Rows per page (1-200).","examples":[50],"default":50,"title":"Limit"},"description":"Rows per page (1-200)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":2000},{"type":"null"}],"description":"`next_cursor` from the previous page.","title":"Cursor"},"description":"`next_cursor` from the previous page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FdaListResponse"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"recalls","x-fern-sdk-method-name":"list","x-fern-pagination":true,"x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\npage = client.recalls.list(limit=5)\nfor row in page.items:\n    print(row)"},{"lang":"bash","label":"CLI","source":"pav recalls list --limit 5"}]}},"/v1/drug-applications":{"get":{"tags":["drug-applications"],"summary":"List drug applications","description":"NDAs, ANDAs and BLAs, one per application. `document_date` is the first approval and `event_date` the latest FDA action. `from`/`to` filter on `document_date`.","operationId":"list_drug_applications","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Company ids, comma-separated. Includes the companies each one owns.","examples":["412"],"title":"Company Id"},"description":"Company ids, comma-separated. Includes the companies each one owns."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates.","examples":["PFE"],"title":"Company"},"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates."},{"name":"application_key","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":32},{"type":"null"}],"description":"FDA application, e.g. `N:209637` or `BLA:761508`.","title":"Application Key"},"description":"FDA application, e.g. `N:209637` or `BLA:761508`."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Statuses, comma-separated (case-insensitive).","title":"Status"},"description":"Statuses, comma-separated (case-insensitive)."},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or after this date.","title":"From"},"description":"On or after this date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or before this date.","title":"To"},"description":"On or before this date."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"`document_date` or `event_date`; prefix `-` to descend.","title":"Sort"},"description":"`document_date` or `event_date`; prefix `-` to descend."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"Rows per page (1-200).","examples":[50],"default":50,"title":"Limit"},"description":"Rows per page (1-200)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":2000},{"type":"null"}],"description":"`next_cursor` from the previous page.","title":"Cursor"},"description":"`next_cursor` from the previous page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FdaListResponse"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"drug_applications","x-fern-sdk-method-name":"list","x-fern-pagination":true,"x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\npage = client.drug_applications.list(limit=5)\nfor row in page.items:\n    print(row)"},{"lang":"bash","label":"CLI","source":"pav drug-applications list --limit 5"}]}},"/v1/drug-applications/{application_key}":{"get":{"tags":["drug-applications"],"summary":"Get a drug application","description":"One application with every FDA record on it and its submissions, newest first. `records_total` and `submissions_total` count everything on it.","operationId":"get_drug_application","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"application_key","in":"path","required":true,"schema":{"type":"string","maxLength":32,"pattern":"^(N|A|BLA):[0-9]{1,8}$","description":"`N:` (NDA), `A:` (ANDA) or `BLA:` plus the application number.","examples":["N:212099"],"title":"Application Key"},"description":"`N:` (NDA), `A:` (ANDA) or `BLA:` plus the application number."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FdaApplicationDossier"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"drug_applications","x-fern-sdk-method-name":"get","x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\nprint(client.drug_applications.get(\"N:212099\"))"},{"lang":"bash","label":"CLI","source":"pav drug-applications get --application-key N:212099"}]}},"/v1/complete-response-letters":{"get":{"tags":["complete-response-letters"],"summary":"List complete response letters","description":"Published complete response letters, one per letter. `status` is `Approved` if the application was later approved, else `Unapproved`. `from`/`to` filter on the letter date.","operationId":"list_complete_response_letters","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Company ids, comma-separated. Includes the companies each one owns.","examples":["412"],"title":"Company Id"},"description":"Company ids, comma-separated. Includes the companies each one owns."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates.","examples":["PFE"],"title":"Company"},"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates."},{"name":"application_key","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":32},{"type":"null"}],"description":"FDA application, e.g. `N:209637` or `BLA:761508`.","title":"Application Key"},"description":"FDA application, e.g. `N:209637` or `BLA:761508`."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Statuses, comma-separated (case-insensitive).","title":"Status"},"description":"Statuses, comma-separated (case-insensitive)."},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or after this date.","title":"From"},"description":"On or after this date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or before this date.","title":"To"},"description":"On or before this date."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"`document_date` or `event_date`; prefix `-` to descend.","title":"Sort"},"description":"`document_date` or `event_date`; prefix `-` to descend."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"Rows per page (1-200).","examples":[50],"default":50,"title":"Limit"},"description":"Rows per page (1-200)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":2000},{"type":"null"}],"description":"`next_cursor` from the previous page.","title":"Cursor"},"description":"`next_cursor` from the previous page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FdaListResponse"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"complete_response_letters","x-fern-sdk-method-name":"list","x-fern-pagination":true,"x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\npage = client.complete_response_letters.list(limit=5)\nfor row in page.items:\n    print(row)"},{"lang":"bash","label":"CLI","source":"pav complete-response-letters list --limit 5"}]}},"/v1/accelerated-approvals":{"get":{"tags":["accelerated-approvals"],"summary":"List accelerated approvals","description":"One per product and indication. `status` is `ongoing`, `verified` or `withdrawn`; `event_date` is the projected confirmatory completion. `from`/`to` filter on the approval date.","operationId":"list_accelerated_approvals","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Company ids, comma-separated. Includes the companies each one owns.","examples":["412"],"title":"Company Id"},"description":"Company ids, comma-separated. Includes the companies each one owns."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates.","examples":["PFE"],"title":"Company"},"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates."},{"name":"application_key","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":32},{"type":"null"}],"description":"FDA application, e.g. `N:209637` or `BLA:761508`.","title":"Application Key"},"description":"FDA application, e.g. `N:209637` or `BLA:761508`."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Statuses, comma-separated (case-insensitive).","title":"Status"},"description":"Statuses, comma-separated (case-insensitive)."},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or after this date.","title":"From"},"description":"On or after this date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or before this date.","title":"To"},"description":"On or before this date."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"`document_date` or `event_date`; prefix `-` to descend.","title":"Sort"},"description":"`document_date` or `event_date`; prefix `-` to descend."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"Rows per page (1-200).","examples":[50],"default":50,"title":"Limit"},"description":"Rows per page (1-200)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":2000},{"type":"null"}],"description":"`next_cursor` from the previous page.","title":"Cursor"},"description":"`next_cursor` from the previous page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FdaListResponse"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or route (`not_found`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limit exceeded (`rate_limited`); honor `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"503":{"description":"Busy or too slow to answer (`unavailable`); retry after `Retry-After`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}},"x-fern-sdk-group-name":"accelerated_approvals","x-fern-sdk-method-name":"list","x-fern-pagination":true,"x-codeSamples":[{"lang":"python","label":"Python SDK","source":"from pav_bio import Pav\n\nclient = Pav()\npage = client.accelerated_approvals.list(limit=5)\nfor row in page.items:\n    print(row)"},{"lang":"bash","label":"CLI","source":"pav accelerated-approvals list --limit 5"}]}},"/v1/advisory-committee-meetings":{"get":{"tags":["advisory-committee-meetings"],"summary":"List advisory committee meetings","description":"Past and scheduled meetings with links to FDA's materials. `status` is `held` or `scheduled`. `from`/`to` filter on the meeting day.","operationId":"list_advisory_committee_meetings","security":[{"EnterpriseApiKey":[]}],"parameters":[{"name":"company_id","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Company ids, comma-separated. Includes the companies each one owns.","examples":["412"],"title":"Company Id"},"description":"Company ids, comma-separated. Includes the companies each one owns."},{"name":"company","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates.","examples":["PFE"],"title":"Company"},"description":"Ticker, company slug, or exact registered name/synonym; comma-separated. Includes the companies each one owns. Ambiguous text (matches more than one tracked company) is a 400 naming the candidates."},{"name":"application_key","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":32},{"type":"null"}],"description":"FDA application, e.g. `N:209637` or `BLA:761508`.","title":"Application Key"},"description":"FDA application, e.g. `N:209637` or `BLA:761508`."},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Statuses, comma-separated (case-insensitive).","title":"Status"},"description":"Statuses, comma-separated (case-insensitive)."},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or after this date.","title":"From"},"description":"On or after this date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"On or before this date.","title":"To"},"description":"On or before this date."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"`document_date` or `event_date`; prefix `-` to descend.","title":"Sort"},"description":"`document_date` or `event_date`; prefix `-` to descend."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"Rows per page (1-200).","examples":[50],"default":50,"title":"Limit"},"description":"Rows per page (1-200)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":2000},{"type":"null"}],"description":"`next_cursor` from the previous page.","title":"Cursor"},"description":"`next_cursor` from the previous page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FdaListResponse"}}}},"400":{"description":"Invalid parameter (`validation_error`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing or invalid API key (`unauthorized`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"The API key lacks a scope this route needs (`forbidden`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Unknown id or 
[...]
